body {
    background-color: gray;
}

form {
    border: red solid 1px;
    padding: 25px;
    border-radius:25px;
    background-color: #ccc;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}
form * {
    margin: 5px;
    padding: 5px;
}
